@font-face {
  font-family: bitsFont;
  src: url("/fonts/PressStart2P.ttf");
}

html{
  height: 100%;
}

body {
  background: linear-gradient(#9779FB, #000057) repeat scroll 0% 0% transparent;
  margin: 0px;
  height: 100%;
  background-image: url("/fondo.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url("/cursor.png"), auto;
}

a {
  cursor: url("/cursorb.png"), auto;
}

select {
    cursor: url("/cursorb.png"), auto;
}

h1 {
	font-family: bitsFont;
	font-size: 300%;
	color: #718DA5;
	text-align: center;
}

h2 {
	font-size: 175%;
  color: #DEEA68;
  text-align: center;
  font-family: bitsFont;
  /*font-weight: bold;*/
  text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
  font-variant: small-caps;
}
p {
	font-family: "Comic Sans MS",cursive,sans-serif;
	font-size: 100%;
	color: #FFF;
	text-align: left;	
}

#navcontainer {
    margin: auto;
    width: fit-content;
    margin: 5px auto auto;
    width: -moz-fit-content;
}

#navcontainer ul
{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

#navcontainer ul li { 
  display: inline; 
  float: left;
}

#navcontainer ul li a:link, a:visited
{
  width: 300px;
  /*font-weight: bold;*/
  color: #FFFF00;
  /*background-color: #B20000;*/
  background: linear-gradient(to bottom, #ff3019 0%,#b20000 100%);
  text-align: center;
  padding: 7px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.6) -1px 2px 1px;
  text-transform: uppercase;
  font-family: bitsFont;
  font-size: smaller;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #730000;
}

@media (max-width: 970px){
  #navcontainer ul li a:link, a:visited{
    font-size: x-small;
  }
}
@media (max-height: : 700px){
  form p {
    margin-top: 0px;
  }
}

#navcontainer ul li a:hover
{
  background: linear-gradient(to bottom, #990000 0%,#b20000 100%);
}

#navcontainer ul li a:active{
  text-shadow: #FFFACA 0px 0px 6px;
}

#navcontainer ul li a.first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left-style: none;
}

#navcontainer ul li a.last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right-style: none;
}


#gameboard td.X {
			color: yellow;
			background-image: url("/yellowcoin.png");
      background-size: 50px;
      font-size: 1px;
}
#gameboard td.O {
			color: red;
			background-image: url("/redcoin.png");
      background-size: 50px;
      font-size: 1px;
}
#gameboard table, th, td {
			border: 1px solid rgba(71, 24, 24, 0);
			padding: 0px;
}
#gameboard table {
			border-spacing: 2px;
      border-radius: 15px;
      background-color: hsla(230,85%,60%,1);
      box-shadow: -8px 8px 1px #000026;
}
#gameboard td {
			width: 50px;
			height: 50px;
			text-align: center;
			font-size: 100%;
      background-image: url("/nocoin.png");
      background-repeat: no-repeat;
      background-size: 50px;
}
.cuerpo {
      margin-left: auto;
      margin-right: auto;
      width: 28%;
}
 html body h1 {
    font-family: monospace;
    font-size: 48px;
    margin-left: 175px;
}
 html body p,caption {
    font-family: bitsFont;
    text-transform: uppercase;
    text-align: center;
    /*font-weight: bold;*/
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
}
.boton {
    color: #900;
    width: 50px;
    background: #FF0;
    font-weight: bold;
    border: 1px solid #900;
    border-radius: 49px;
    box-shadow: -1px 1px 0px #000;
}
.boton:hover , .dropButton:focus {
    outline: none;
    color: #FFF;
    background-color: #900;
    cursor: url("/cursorb.png"), auto;
}

.boton:active{
  box-shadow: none;
  position: relative;
  top: 1px;
  left: -1px;
}

.dropButton {
    font-family: bitsFont;
    font-weight: normal;
    font-size: small;
}

.marco {
    width: 50%;
    min-width: 515px;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    height: auto;
    background: linear-gradient(to right, #1F35D8 0%, #8ECDE1 50%, #1F35D8 100%) repeat scroll 0% 0% transparent;
    border-color: #817F00;
    box-shadow: -6px 2px 3px #000026;
    margin-top: 9px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.header {
  height: fit-content;
  height: -moz-fit-content;
  /*background: linear-gradient(#9779FB, #20206C) repeat scroll 0% 0% transparent;*/
  background: transparent linear-gradient(to bottom, #20206C 0%, #9779FB 33%, #7652F9 56%, #20206C 100%) repeat scroll 0% 0%;
  box-shadow: 0px 0px 4px 6px #000;
}

.logo{
  margin-top: 4px; 
  margin-bottom: 4px;
  height: 12%;
  max-height: 91%;
}

.logo:hover {
    box-shadow: 0px 0px 10px 3px gold;
    border-radius: 50px;
}

.homeboton{
  font-family: bitsFont;
  /*font-weight: bold;*/
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  height: 55px;
  border-radius: 11px;
  font-size: initial;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.84);
  border: 1px solid #FF0;
  background: none repeat scroll 0% 0% #DF0008;
  color: #FFE600;
  text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.84);
  /*transition: height 0.3s;*/
}

.homeboton:hover, .homeboton:focus {
  color: #FFF;
  background: #900;
  cursor: url("/cursorb.png"), auto;
  height: 61px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.homeboton:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  right: 5px;
}

@media (max-width: 875px){
  .homeboton{
    font-size: small;
  }
}

.muteButton {
  float: left;
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
  background-image: url("/mute.png");
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
.muteButton:hover {
  background-image: url("/mute.png");
}

.tg{
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-family: bitsFont;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
}

.name1,.nums1{
  color: yellow;
}

.name2,.nums2{
  color: red;
}

.deuces,.numsd{
  color: blue;
}

#footer{
    bottom: 0;
    height: 35px;
    position: fixed;
    width: 100%;
}

.footerlink{
  float: right;
  height: 15px;
  margin: 0px 5px 0px 0px; 
  text-decoration: none;
  margin-top: 15;
}

#message {
  font-family: bitsFont;
  font-size: largue;
  padding: 5px;
  box-shadow: rgb(0, 0, 38) -5px 4px 1px;
}

#rankt tr th, #message {
  background-color: #000000;
  border-style: ridge;
  border-color: #D4FF71;
  border-width: 4px;
  padding-left: 5px;
  padding-right: 5px;
  background: linear-gradient(to bottom, 
    rgba(76,76,76,1) 0%, 
    rgba(89,89,89,1) 12%, 
    rgba(102,102,102,1) 25%, 
    rgba(71,71,71,1) 39%, 
    rgba(44,44,44,1) 50%, 
    rgba(0,0,0,1) 51%, 
    rgba(17,17,17,1) 60%, 
    rgba(43,43,43,1) 76%, 
    rgba(28,28,28,1) 91%, 
    rgba(19,19,19,1) 100%);
}

#rankt tr th p{
  margin: 4px 0px;
  text-transform: none;
  color: #1EE709;
  font-size: small;
}

#rankt tr td {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 17px;
    font-variant: normal;
    text-align: center;
    text-transform: uppercase;
    border-color: #000000;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: dashed;
    font-weight: bold;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.88);
}


table {counter-reset:section;}

.count:before {
  counter-increment:section;
  content:counter(section);
}

input[type="text"], input[type="password"] {
    border-radius: 7px;
}

input[type="text"], input[type="password"] {
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 1px #707070;
  box-shadow: rgb(3, 21, 150) 0px 0px 8px 6px;
  outline: none;
}

/***********************************************************/

/* The CSS */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width: 150px;
    box-shadow: rgb(76, 76, 76) -3px 3px 0px, rgb(255, 255, 255) 0px -1px inset;
    font-weight: bolder;
    color: white;
    text-shadow: -1px 1px 0px black;
    font-size: medium;
}

option {
  color: black;
  font-size: small;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#000;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background: rgba(0, 0, 0, 0);
    position:absolute;
    pointer-events:none;
    display:block;
}

#endGameOptions button, .wideButton{
  box-shadow: -3px 3px 1px rgba(0, 0, 0, 1);
  width: 125px;
}

#endGameOptions button:active, .wideButton:active{
    position: relative;
    top: 3;
    left: -3;
    box-shadow: none;
}