<div id="footer">
  <button class="muteButton boton " onclick="toggleMuteAudio()"> 
  </button>
  <p class="footerlink">
    <a style="text-decoration: none;
              color: rgba(128, 128, 128, 0);
              text-shadow: -1px 2px 0.5px rgba(213, 213, 213, 0.5);" href="/credits">Credits</a>
  </p>
</div>

<script>
	function toggleMuteAudio(){
    	$("audio").prop("muted",!$("audio").prop("muted"));
		var muted = $("audio").prop("muted");
		refreshMuteButton(muted);
	}
	function refreshMuteButton(muted){
		if (muted) {
			$(".muteButton").attr("style","background-image: url('muted.png');");
		} else{
			$(".muteButton").removeAttr("style");
		};
	}
</script>