<div id="footer" style="
    background: linear-gradient(to bottom, #20206c 0%,#9779fb 33%,#7652F9 56%,#20206c 100%);
    height: 28px;">
  <button class="muteButton boton " onclick="toggleMuteAudio()" title="Press here or 'm' for mute the page" style="    margin-left: 2px;"> 
  </button>
  <p class="footerlink" style="margin-top: 8px;">
    <a style="text-decoration: none;
              color: rgba(128, 128, 128, 0);
              text-shadow: -1px 2px 0.5px rgba(0, 0, 0, 0.47);
              font-size: x-small;" href="/credits">Credits</a>
  </p>
</div>

<script>
	function toggleMuteAudio(){
    	$("audio").prop("muted",!$("audio").prop("muted"));
		var muted = $("audio").prop("muted");
		refreshMuteButton(muted);
	}
	function refreshMuteButton(muted){
		if (muted) {
			$(".muteButton").attr("style","background-image: url('/muted.png'); margin-left: 2px;");
		} else{
			$(".muteButton").attr("style","margin-left: 2px;");
		};
	}

	function muteAction(e) {
		var target = $(e.target);
		if(e.which == 77 && !target.is("input")){ //Was 'm' pressed
			toggleMuteAudio();
		}
	}
	
	function bindMuteButton(){
		$(document).keydown(muteAction);
	}

	$(document).keydown(muteAction);
</script>