
<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
	<head>
        <link rel="shortcut icon" type="image/x-icon" href="app-icon.png">
        <link rel="stylesheet" type="text/css" href="siteStyle">
        <title>CONNECT4</title>
        <script src="js/jquery.min.js">
        </script>
        <script>

            function reload (ev){
                    console.log(ev);
                    console.log(this);
                    var game_id = this.id;
                    var column = this.value-1;
                    sendMove(game_id, column);
            }

            function sendMove(game_id, column){
                disableAJAX(); //Disable click action to avoid fast double-click sends
                disasociateKeyMove();
                $.ajax({
                         method: "POST",
                         url: "/dropai",
                         dataType: "json",
                         data: {"game_id": game_id, "column": column},
                    }).done( 
                        updateView,
                        function (data){
                            console.log(data);
                        }
                    );
            }

            function keymove(e){
                if (e.which>=49 && e.which<=55){
                    var column = e.which - 49;
                    sendMove({{game_id}},column);
                }
            }

            function asociateKeyMove(){
                $(document).keydown(keymove);
            }

            function disasociateKeyMove(){
                $(document).off();
            }

            function updateView(data){
                $("#message").html(data.message).css("color",data.colored).css("border-color",data.colored);
                //$("#message").html("CPU Plays").css("color","red").css("border-color","red");
                $("#audioSource").attr("src",data.sound);
                $(".sound").trigger("load");                
                $(".sound").trigger("play");
                if (data.finished) {
                    $("#endGameOptions").css("visibility","visible");
                    $("#playButtons").remove();
                    $("#message").css("margin-bottom","30px");
                };
                if (data.successful) {
                    var cell = '#c'+data.cell;
                    $(cell).attr("class",data.coin);
                    //setTimeout(waitAndMove(data),000);
                    if (!data.finished) {waitAndMove(data);} 
                }
                else{
                    enableAJAX(); //Re-enable click action
                    asociateKeyMove();
                }
            }

            function waitAndMove(data) {
                $.ajax({
                         method: "POST",
                         url: "/moveai",
                         dataType: "json",
                         data: {"game_id": {{game_id}}, "ord": data.ord},
                    }).done( 
                        function (data){
                            console.log(data);
                            var aicell = '#c'+data.cellAi;
                            $(aicell).attr("class","O");
                            $(".sound").trigger("load");
                            $(".sound").trigger("play");
                            $("#audioSource").attr("src",data.sound);
                            $(".sound").trigger("load");                
                            $(".sound").trigger("play");
                            if (data.finished) {
                                $("#message").html(data.message).css("color",data.colored).css("border-color",data.colored);
                                $("#endGameOptions").css("visibility","visible");
                                $("#playButtons").remove();
                                $("#message").css("margin-bottom","30px");
                                
                            };
                            enableAJAX(); //Re-enable click action
                            asociateKeyMove();
                        }
                    );
                
            }

            $(document).ready(function(){
                enableAJAX();
                asociateKeyMove();
                });

            function enableAJAX (data){
                $(".dropButton").on("click", reload);
                console.log(data); 
            }

            function disableAJAX(){
                $(".dropButton").off();
            }
           
        </script>
    </head>
    <body>
        {{> bodyboard}}
    </body>
</html>