
<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="siteStyle">
        <title>CONNECT4</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <script>
            $(document).ready( function(){
                $(".boton").on("click",function(ev){
                    console.log(ev);
                    console.log(this);
                    var game_id = $('#game_id').val();
                    var column = $('#column').val();
                    $.ajax({
                        method: "POST",
                        url: "/drop",
                        //dataType: "json",
                        data: {"game_id": game_id, "column": column},
                        success: function( msg ) {
                            alert( "Data Saved: " + msg );
                        }     
                    });
                    ev.preventDefault();   
                    return false;
                });
            });   
        </script>
    </head>
    <body>
        <div align="center" class="header">
            <img src="connect-4-logo.png" class="logo">
        </div>
        <div class="marco" {{#finished}} style="padding-bottom:12px;" {{/finished}}>      
            <br>
            <div id="gameboard" class="cuerpo2" align="center">
                <table align="center">
                    <caption style="color:{{colored}};margin-bottom: 7px;">{{message}}</caption>
                    <audio controls autoplay="true" hidden="true">
                      <source src={{sound}} type="audio/mpeg">
                    </audio> 
              		<th>
                     <form method="post" action="/drop">
                     <input type="hidden" name="game_id" id="game_id" value={{game_id}}>
                     <input type="hidden" name="column" id="column" value="0">
                     <button class="boton" type="submit" value="1">1</button>
                     </form>   
                    </th>
                	<th>
                     <form method="post" action="/drop">
                     <input type="hidden" name="game_id" id="game_id" value={{game_id}}>
                     <input type="hidden" name="column" id="column" value="1">
                     <button class="boton" type="submit" value="2">2</button>
                     </form>    
                    </th> 
                	<th>
                     <form method="post" action="/drop">
                     <input type="hidden" name="game_id" id="game_id" value={{game_id}}>
                     <input type="hidden" name="column" id="column" value="2">
                     <button class="boton" type="submit" value="3">3</button>
                     </form>    
                    </th>
                	<th>
                     <form method="post" action="/drop">
                     <input type="hidden" name="game_id" id="game_id" value={{game_id}}>
                     <input type="hidden" name="column" id="column" value="3">
                     <button class="boton" type="submit" value="4">4</button>
                     </form>    
                    </th>
                	<th>
                     <form method="post" action="/drop">
                     <input type="hidden" name="game_id" id="game_id" value={{game_id}}>
                     <input type="hidden" name="column" id="column" value="4">
                     <button class="boton" type="submit" value="5">5</button>
                     </form>    
                    </th>
                	<th>
                     <form method="post" action="/drop">
                     <input type="hidden" name="game_id" id="game_id" value={{game_id}}>
                     <input type="hidden" name="column" id="column" value="5">
                     <button class="boton" type="submit" value="6">6</button>
                     </form>    
                    </th>
                	<th>
                     <form method="post" action="/drop">
                     <input type="hidden" name="game_id" id="game_id" value={{game_id}}>
                     <input type="hidden" name="column" id="column" value="6">
                     <button class="boton" type="submit" value="7">7</button>
                     </form>    
                    </th>
              		
              		<tr>
                    	<td id="{{celda1}}">{{celda1}}</td>
                    	<td id="{{celda2}}">{{celda2}}</td>
                    	<td id="{{celda3}}">{{celda3}}</td>
                    	<td id="{{celda4}}">{{celda4}}</td>
                    	<td id="{{celda5}}">{{celda5}}</td>
                    	<td id="{{celda6}}">{{celda6}}</td>
                    	<td id="{{celda7}}">{{celda7}}</td>
                	</tr>
                	<tr>
                    	<td id="{{celda8}}">{{celda8}}</td>
                    	<td id="{{celda9}}">{{celda9}}</td>
                    	<td id="{{celda10}}">{{celda10}}</td>
                    	<td id="{{celda11}}">{{celda11}}</td>
                    	<td id="{{celda12}}">{{celda12}}</td>
                    	<td id="{{celda13}}">{{celda13}}</td>
                    	<td id="{{celda14}}">{{celda14}}</td>
                	</tr>
                	<tr>
                    	<td id="{{celda15}}">{{celda15}}</td>
                    	<td id="{{celda16}}">{{celda16}}</td>
                    	<td id="{{celda17}}">{{celda17}}</td>
                    	<td id="{{celda18}}">{{celda18}}</td>
                    	<td id="{{celda19}}">{{celda19}}</td>
                    	<td id="{{celda20}}">{{celda20}}</td>
                    	<td id="{{celda21}}">{{celda21}}</td>
                	</tr>
                	<tr>
                    	<td id="{{celda22}}">{{celda22}}</td>
                    	<td id="{{celda23}}">{{celda23}}</td>
                    	<td id="{{celda24}}">{{celda24}}</td>
                    	<td id="{{celda25}}">{{celda25}}</td>
                    	<td id="{{celda26}}">{{celda26}}</td>
                    	<td id="{{celda27}}">{{celda27}}</td>
                    	<td id="{{celda28}}">{{celda28}}</td>
                	</tr>
                	<tr>
                    	<td id="{{celda29}}">{{celda29}}</td>
                    	<td id="{{celda30}}">{{celda30}}</td>
                    	<td id="{{celda31}}">{{celda31}}</td>
                    	<td id="{{celda32}}">{{celda32}}</td>
                    	<td id="{{celda33}}">{{celda33}}</td>
                    	<td id="{{celda34}}">{{celda34}}</td>
                    	<td id="{{celda35}}">{{celda35}}</td>
                	</tr>
                	<tr>
                    	<td id="{{celda36}}">{{celda36}}</td>
                    	<td id="{{celda37}}">{{celda37}}</td>
                    	<td id="{{celda38}}">{{celda38}}</td>
                    	<td id="{{celda39}}">{{celda39}}</td>
                    	<td id="{{celda40}}">{{celda40}}</td>
                    	<td id="{{celda41}}">{{celda41}}</td>
                    	<td id="{{celda42}}">{{celda42}}</td>
                	</tr>
            	</table>
            </div>
                <div class="cuerpo">
                    <p style='color:{{colored}};margin-bottom: 4px;margin-top: 18px;'>
                        {{#finished}}
                            <form method="post" action="/create_game" style="margin-left:35px; margin-bottom: 2px;">
                                <input type="hidden" name="player_1" value="{{p2id}}">
                                <input type="hidden" name="player_2" value="{{p1id}}">
                                <button class="boton" style="width:125px; box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.5);" type="submit" value="1">Play Again?</button>
                            </form>
                            <button class="boton" 
                                        style=" width:125px; 
                                                box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.5); 
                                                margin-left: 35px; 
                                                margin-top: 3px;" 
                                        onclick="location.href='/'">Back To Home</button>
                        {{/finished}}
                    </p>
                </div>
            </div>
    	</body>
</html>