
<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
	<head>
        <link rel="shortcut icon" type="image/x-icon" href="app-icon.png">
        <link rel="stylesheet" type="text/css" href="siteStyle">
        <title>CONNECT4</title>
        <script src="js/jquery.min.js">
        </script>
        <script>

            function reload (){
                    //console.log(ev);
                    //console.log(this);
                    var game_id = this.id;
                    var column = this.value-1;
                    sendMove(game_id, column);
            }

            function sendMove(game_id, column){
                $.ajax({
                         method: "POST",
                         url: "/drop2",
                         dataType: "json",
                         data: {"game_id": game_id, "column": column},
                    }).done( 
                        updateView,
                        function (data){
                            console.log(data);
                        }
                    );
            }

            function keymove(e){
                if (e.which>=49 && e.which<=55){
                    var column = e.which - 49;
                    sendMove({{game_id}},column);
                }
            }

            $(document).keydown(keymove);

            function updateView(data){
                $("#message").html(data.message).css("color",data.colored).css("border-color",data.colored);
                $("#audioSource").attr("src",data.sound);
                $(".sound").trigger("load");                
                $(".sound").trigger("play");
                if (data.finished) {
                    $("#endGameOptions").css("visibility","visible");
                    $("#playButtons").remove();
                    $("#message").css("margin-bottom","30px");
                };
                if (data.successful) {
                    var cell = '#c'+data.cell;
                    $(cell).attr("class",data.coin);
                }
            }

            $(document).ready(enableAJAX);

            function enableAJAX (data){
                $(".dropButton").on("click", reload);
                console.log(data); 
            }

        </script>



        <script>
        function soundEnought(){
          setTimeout(timeSound,500)
        </script>
        
        <script>
        function timeSound(){
          document.getElementById("enought").Play();}
        </script>

    </head>
    <body>
        {{> bodyboard}}
    </body>
</html>