
<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
	<head>
        <link rel="shortcut icon" type="image/x-icon" href="app-icon.png">
        <link rel="stylesheet" type="text/css" href="siteStyle">
        <title>CONNECT4</title>
        <script src="js/jquery.min.js">
        </script>
        <script>

            function reload (){
                    //console.log(ev);
                    //console.log(this);
                    var game_id = this.id;
                    var column = this.value-1;
                    sendMove(game_id, column);
            }

            function sendMove(game_id, column){
                $.ajax({
                         method: "POST",
                         url: "/drop2",
                         dataType: "json",
                         data: {"game_id": game_id, "column": column},
                    }).done( 
                        updateView,
                        function (data){
                            console.log(data);
                        }
                    );
            }

            function keymove(e){
                if (e.which>=49 && e.which<=55){
                    var column = e.which - 49;
                    sendMove({{game_id}},column);
                }
            }

            $(document).keydown(keymove);

            function updateView(data){
                $("#message").html(data.message).css("color",data.colored).css("border-color",data.colored);
                $("#audioSource").attr("src",data.sound);
                $(".sound").trigger("load");                
                $(".sound").trigger("play");
                if (data.finished) {
                    $("#endGameOptions").css("visibility","visible");
                    $("#playButtons").remove();
                    $("#message").css("margin-bottom","30px");
                };
                if (data.successful) {
                    var cell = '#c'+data.cell;
                    $(cell).attr("class",data.coin);
                }
            }

            $(document).ready(enableAJAX);

            function enableAJAX (data){
                $(".dropButton").on("click", reload);
                console.log(data); 
            }
            
        </script>
    </head>
    <body>
        {{> header}}
        <div id="container" class="marco" {{#finished}} style="padding-bottom:12px;" {{/finished}}>      
            <div id="gameboard" class="cuerpo2" align="center">
                <br>
                <table align="center">
                    <caption id="message" style="color:{{colored}};margin-bottom: 7px;">{{message}}</caption>
                    <audio class="sound" controls autoplay="true" hidden="true">
                      <source id="audioSource" src={{sound}} type="audio/mpeg">
                    </audio>
                    <tr id="playButtons">
                  		<th>
                         <button class="boton dropButton" id="{{game_id}}" value="1">1</button>  
                        </th>
                    	<th>
                         <button class="boton dropButton" id="{{game_id}}" value="2">2</button>   
                        </th> 
                    	<th>
                         <button class="boton dropButton" id="{{game_id}}" value="3">3</button>
                        </th>
                    	<th>
                         <button class="boton dropButton" id="{{game_id}}" value="4">4</button>
                        </th>
                    	<th>
                         <button class="boton dropButton" id="{{game_id}}" value="5">5</button>
                        </th>
                    	<th>
                         <button class="boton dropButton" id="{{game_id}}" value="6">6</button>
                        </th>
                    	<th>
                         <button class="boton dropButton" id="{{game_id}}" value="7">7</button>
                        </th>
              		</tr>
              		<tr>
                        <td id="c1" class="{{celda1}}">{{celda1}}</td>
                        <td id="c2" class="{{celda2}}">{{celda2}}</td>
                        <td id="c3" class="{{celda3}}">{{celda3}}</td>
                        <td id="c4" class="{{celda4}}">{{celda4}}</td>
                        <td id="c5" class="{{celda5}}">{{celda5}}</td>
                        <td id="c6" class="{{celda6}}">{{celda6}}</td>
                        <td id="c7" class="{{celda7}}">{{celda7}}</td>
                    </tr>
                    <tr>
                        <td id="c8" class="{{celda8}}">{{celda8}}</td>
                        <td id="c9" class="{{celda9}}">{{celda9}}</td>
                        <td id="c10" class="{{celda10}}">{{celda10}}</td>
                        <td id="c11" class="{{celda11}}">{{celda11}}</td>
                        <td id="c12" class="{{celda12}}">{{celda12}}</td>
                        <td id="c13" class="{{celda13}}">{{celda13}}</td>
                        <td id="c14" class="{{celda14}}">{{celda14}}</td>
                    </tr>
                    <tr>
                        <td id="c15" class="{{celda15}}">{{celda15}}</td>
                        <td id="c16" class="{{celda16}}">{{celda16}}</td>
                        <td id="c17" class="{{celda17}}">{{celda17}}</td>
                        <td id="c18" class="{{celda18}}">{{celda18}}</td>
                        <td id="c19" class="{{celda19}}">{{celda19}}</td>
                        <td id="c20" class="{{celda20}}">{{celda20}}</td>
                        <td id="c21" class="{{celda21}}">{{celda21}}</td>
                    </tr>
                    <tr>
                        <td id="c22" class="{{celda22}}">{{celda22}}</td>
                        <td id="c23" class="{{celda23}}">{{celda23}}</td>
                        <td id="c24" class="{{celda24}}">{{celda24}}</td>
                        <td id="c25" class="{{celda25}}">{{celda25}}</td>
                        <td id="c26" class="{{celda26}}">{{celda26}}</td>
                        <td id="c27" class="{{celda27}}">{{celda27}}</td>
                        <td id="c28" class="{{celda28}}">{{celda28}}</td>
                    </tr>
                    <tr>
                        <td id="c29" class="{{celda29}}">{{celda29}}</td>
                        <td id="c30" class="{{celda30}}">{{celda30}}</td>
                        <td id="c31" class="{{celda31}}">{{celda31}}</td>
                        <td id="c32" class="{{celda32}}">{{celda32}}</td>
                        <td id="c33" class="{{celda33}}">{{celda33}}</td>
                        <td id="c34" class="{{celda34}}">{{celda34}}</td>
                        <td id="c35" class="{{celda35}}">{{celda35}}</td>
                    </tr>
                    <tr>
                        <td id="c36" class="{{celda36}}">{{celda36}}</td>
                        <td id="c37" class="{{celda37}}">{{celda37}}</td>
                        <td id="c38" class="{{celda38}}">{{celda38}}</td>
                        <td id="c39" class="{{celda39}}">{{celda39}}</td>
                        <td id="c40" class="{{celda40}}">{{celda40}}</td>
                        <td id="c41" class="{{celda41}}">{{celda41}}</td>
                        <td id="c42" class="{{celda42}}">{{celda42}}</td>
                    </tr>
            	</table>
            </div>
            <div id="endGameOptions" class="cuerpo" style="visibility: hidden;">
                <p style='color:{{colored}};margin-bottom: 4px;margin-top: 18px;'>
                    <form method="post" action="/create_game" style="margin-left:35px; margin-bottom: 2px;">
                        <input type="hidden" name="player_1" value="{{p2id}}">
                        <input type="hidden" name="player_2" value="{{p1id}}">
                        <button class="boton" style="width:125px; box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.5);" type="submit" value="1">Play Again?</button>
                    </form>
                    <button class="boton" 
                                style=" width:125px; 
                                        box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.5); 
                                        margin-left: 35px; 
                                        margin-top: 3px;" 
                                onclick="location.href='/'">Back To Home</button>
                </p>
            </div>
        </div>
        {{> footer}}
    </body>
</html>