<script>
	function check(){
		if(create_game.player_1.value == create_game.player_2.value){
			alert('Users cannot be the same!');
			return false;
		}
		return true;		
	}
</script>

<!DOCTYPE html>
<html>
	<head>
		{{> resources}}
	</head>
	<body>
		{{> header}}
		<div class="marco">
			{{> navbar}}
	        <br>
	        <p>
	        	View Head To Head Records Between Two Players
	        </p>
	        <p style="color:yellow">
			<!-- <select name="player_1" form="carform">
				{{#order}}
			 		<option value="{{id}}">{{itemName}}</option> 
				{{/order}}
			</select> -->
			{{username}}
			</p>
			<p style="color: rgba(245, 3, 3, 0); font-size: 18px; text-shadow: -1px 2px 0.5px rgba(144, 5, 5, 0.8);">
				• VS •
			</p>
			<p style="color:red">
			<label>
				<select name="player_2" form="carform">
					{{#order}}
				 		<option value="{{id}}">{{itemName}}</option> 
					{{/order}}
				</select>
			</label>
			</p><br>
			<form method="post" action="/showrecords" id="carform" name="create_game" onsubmit="return check(this)" class="cuerpo" style="width: 17%;">
				 <input type="hidden" name="player_1" value="{{id_player}}">
			<button class="boton wideButton" type="submit" value="1">CHECK!</button>
			</form>
			<audio controls autoplay="true" hidden="true" loop="true">
	          <source src="music/baseafterbase.mp3" type="audio/mpeg">
	        </audio>  
		</div>
		{{> footer}}
	</body>
</html>