<!DOCTYPE html>
<html>
	<head>
		<title>CONNECT 4 GAME</title>
	</head>
        <body style='background-color:lightgrey'>
        	<h1 style='color:blue'>Connect4</h1>
            <a href="/users">User List</a><br>
            <a href="/user_registration">Register</a><br>
            <a href="/play">Play</a><br>
		</body>
</html>
