<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="siteStyle">
		<title>CONNECT4</title>
    
  </head>
  <body>
    <div align="center" class="header">
       <img src="connect-4-logo.png" class="logo">
    </div>
    <div class="marco">
      <div id="navcontainer">
      	
        <p style="color: {{color}}">
          {{message}}
        </p>
        </div>
        <div class="cuerpo">
          <button class="homeboton" onclick="location.href='/user_registration'">REGISTER
          </button>
          <button class="homeboton" onclick="location.href='/play'">PLAY
          </button>
          <button class="homeboton" onclick="location.href='/users'">RANKING
          </button>
          <button class="homeboton" onclick="location.href='/head2head'">HEAD 2 HEAD
          </button>
        </div>
        <audio id="player" controls autoplay="true" hidden="true" loop="true">
          <source src="music/hexagon.mp3" type="audio/mpeg">
        </audio>
        <!--<button class="boton" style="float:right;" onclick="document.getElementById('player').muted=!document.getElementById('player').muted">Mute</button>  --> 
    </div>
    <p class="footerlink">
      <a style="text-decoration: none;
                color: rgba(128, 128, 128, 0);
                text-shadow: -1px 2px 0.5px rgba(213, 213, 213, 0.5);" href="/credits">Credits</a>
    </p>
  </body>
</html>
