<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="siteStyle">
		<title>CONNECT4</title>
    <div align="center"><img src="connect-4-logo.png"></div>
    <p></p>
  </head>
    <body>
      <div id="navcontainer">
      	<ul>
      	<li><a href="/">Home</a></li>
      	<li><a href="/user_registration">Register</a></li>
      	<li><a href="/play">Play</a></li>
        <li><a href="/users">Ranking</a></li>      
        </ul>

        <p style="color: #FFF">
          {{message}}
        </p>
        </div>
	</body>
</html>
