<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="app-icon.png">
    <link rel="stylesheet" type="text/css" href="siteStyle">
    <title>CONNECT4</title>
    <script src="js/jquery.min.js">
    </script>
  </head>

  <body>
    {{> header}}
    <div class="marco">
      <div id="navcontainer">
        {{#message}}
        <p id="message" style="color: {{color}}">
          {{message}}
        </p>
        {{/message}}
        </div>
        <div id="loginfield" class="marco" style="width: 60%; min-width: 350px;">
          <form method="post" action="/login_user" onsubmit="return !!(required(this)" name="form1">
            <p>Username:<br>
              <input type="text" name="username">
            </p>         
            <p>Password:<br>
              <input type="password" name="password" style="margin-left: 17px;">
              <br>
            </p>
            <p>
              <input style="width: 60px; text-transform: capitalize; font-variant: small-caps;" value="Login" class="boton" type="submit">
            </p>
          </form>
        </div>
        <div class="cuerpo" style="margin-bottom: 40px;">
          <!-- <button class="homeboton" onclick="location.href='/login'">LOGIN
          </button> -->
          <button class="homeboton" onclick="location.href='/user_registration'">SIGN UP!
          </button>         
        </div>
        <audio id="player" controls autoplay="true" hidden="true" loop="true">
          <source src="music/hexagon.mp3" type="audio/mpeg">
        </audio>
        
    </div>
    {{> footer}}
  </body>
</html>
