<div id="navcontainer">
  	<ul>
  	<li><a class="first" href="/">Home</a></li>
  	<li><a href="/play">Play</a></li>
  	<li><a href="/playai">Play vs Ai</a></li>
    <li><a href="/users">Ranking</a></li>
		<li><a href="/head2head">H2H</a></li> 
		<li><a class="last" href="/logout">Logout</a></li>      
    </ul>
</div>