<script>
	function check(){
		if(create_game.player_1.value == create_game.player_2.value){
			alert('Users can not be the same!');
			return false;
		}
		return true;		
	}
</script>

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="siteStyle">
		<title>CONNECT4</title>
		<div align="center"><img src="connect-4-logo.png"></div>
    	<p></p>
	</head>
	</head>
	<body>
	<div id="navcontainer">
      	<ul>
      	<li><a href="/">Home</a></li>
      	<li><a href="/user_registration">Register</a></li>
      	<li><a href="/play">Play</a></li>
        <li><a href="/users">Ranking</a></li>      
        </ul>
        </div>
        <p>Player 1:
		<select name="player_1" form="carform">
			{{#order}}
		 		<option value="{{id}}">{{itemName}}</option> 
			{{/order}}
		</select>
		</p><br>
		<p>Player 2:
		<select name="player_2" form="carform">
			{{#order}}
		 		<option value="{{id}}">{{itemName}}</option> 
			{{/order}}
		</select>
		</p><br>
		<form method="post" action="/create_game" id="carform" name="create_game" onsubmit="return check(this)">
		<input type="submit" value="Play">
		</form>
	</body>
</html>