<script>
	function check(){
		if(create_game.player_1.value == create_game.player_2.value){
			alert('Users cannot be the same!');
			return false;
		}
		return true;		
	}
</script>

<!DOCTYPE html>
<html>
	<head>
		{{> resources}}
	</head>
	<body>
		{{> header}}
		<div class="marco">
			{{> navbar}}
		    <br><br>
	        <p style="color:yellow; font-size: 12;">Player 1:
	        <label>
				<select name="player_1" form="carform">
					{{#order}}
				 		<option value="{{id}}">{{itemName}}</option> 
					{{/order}}
				</select>
			</label>
			</p><br>
			<p style="color:red; font-size: 12;">Player 2:
			<label>
				<select name="player_2" form="carform">
					{{#order}}
				 		<option value="{{id}}">{{itemName}}</option> 
					{{/order}}
				</select>
			</label>
			</p><br>
			<form method="post" action="/game/create" id="carform" name="create_game" onsubmit="return check(this)" class="cuerpo" style="width: 17%;">
			<button class="boton wideButton" type="submit" value="1">BEGIN!</button>
			</form>
			<audio controls autoplay="true" hidden="true" loop="true">
	          <source src="music/baseafterbase.mp3" type="audio/mpeg">
	        </audio>  
		</div>
		{{> footer}}
	</body>
</html>