<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="siteStyle">
    <title>CONNECT4</title>
  </head>
<body>
  <div align="center" class="header">
      <img src="connect-4-logo.png" class="logo">
  </div>
  <div class="marco">
    <audio controls autoplay="true" hidden="true" loop="true">
      <source src="music/ranking.mp3" type="audio/mpeg">
    </audio>  
    <div id="navcontainer">
          <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/user_registration">Register</a></li>
          <li><a href="/play">Play</a></li>
          <li><a href="/users">Ranking</a></li>
          <li><a href="/head2head">H2H</a></li>      
          </ul>
    </div>
    <div style="width: 66%;" class="cuerpo" id="rankt">
      <h2>Ranking</h2>
      <table style="float:left; padding-left: 16px;">
        <tr>
          <th><p>Position</p></th>
          <th><p>User-Name</p></th>
        </tr>
        {{#users}}
        <tr>
          <td class="count" style="text-align:center"> </td>
          <td>{{userName}}</td> 
        </tr>
        {{/users}}
      </table>
      <table>
        <tr>
          <th><p>Points</p></th>
        </tr>
        {{#ranks}}
        <tr>
          <td style="text-align:center">{{points}}</td>
        </tr>
        {{/ranks}}
      </table>
    </div>
  </div>
</body>
</html>

