<SCRIPT LANGUAGE="JavaScript1.2">
   <!--
      NS4 = document.layers;
      if (NS4) {
         origWidth = innerWidth;
         origHeight = innerHeight;
      }   
   function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight) 
         location.reload();
   }   
   if (NS4) onresize = reDo;
   //-->
</SCRIPT>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="siteStyle">
    <title>CONNECT4</title>
    <div align="center"><img src="connect-4-logo.png"></div>
    <p></p>
  </head>
<body>
  <audio controls autoplay="true" hidden="true" loop="true">
    <source src="music/ranking.wav" type="audio/wav">
  </audio>  
  <div id="navcontainer">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user_registration">Register</a></li>
        <li><a href="/play">Play</a></li>
        <li><a href="/users">Ranking</a></li>      
        </ul>
        </div>
<h2>Ranking</h2>
<table style="float:left">
  <tr>
    <th><p>First name</p></th>
    <th><p>Last name</p></th>    
  </tr>
  {{#users}}
  <tr>
    <td><p>{{firstName}}</p></td>
    <td><p>{{lastName}}</p></td>    
  </tr>
  {{/users}}
</table>
<table style="float:left">
  <tr>
    <th><p>Points</p></th>
  </tr>
  {{#ranks}}
  <tr>
    <td><p>{{points}}</p></td>
  </tr>
  {{/ranks}}
</table>
</body>
</html>
