<html>
  <head>
    <style type="text/css">
      #tablesContainer {
        margin: auto;
        width: fit-content;
        width: -moz-fit-content;
      }
    </style>
    {{> resources}}
  </head>
<body>
  {{> header}}
  <div class="marco">
    <audio controls autoplay="true" hidden="true" loop="true">
      <source src="/music/ranking.mp3" type="audio/mpeg">
    </audio>  
    {{> navbar}}
    <br>
    <div style="width: 100%;" class="cuerpo" id="rankt">
      <h2>Ranking</h2>
      <div id="tablesContainer">
        <table style="float:left; padding-left: 16px;">
          <tr>
            <th><p>Position</p></th>
            <th><p>Nickname</p></th>   
          </tr>
          {{#users}}
          <tr>
            <td class="count" style="text-align:center"> </td>
            <td>{{userName}}</td>   
          </tr>
          {{/users}}
        </table>
        <table style="display: inline-block;">
          <tr>
            <th><p>Points</p></th>
          </tr>
          {{#ranks}}
          <tr>
            <td style="text-align:center">{{points}}</td>
          </tr>
          {{/ranks}}
        </table>
      </div>
    </div>
  </div>
  {{> footer}}
</body>
</html>

