<link rel="shortcut icon" type="image/x-icon" href="/img/app-icon.png">
<link rel="stylesheet" type="text/css" href="/css/siteStyle.css">
<title>CONNECT4</title>
<script src="/js/jquery.min.js"></script>