html{
  height: 100%;
}

body {
  background: linear-gradient(#9779FB, #000057) repeat scroll 0% 0% transparent;
  margin: 0px;
  height: 100%;
  background-image: url("fondo.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
}

h1 {
	font-family: "Comic Sans MS",cursive,sans-serif;
	font-size: 300%;
	color: #718DA5;
	text-align: center;
}

h2 {
	font-size: 175%;
  color: #DEEA68;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
  font-variant: small-caps;
}
p {
	font-family: "Comic Sans MS",cursive,sans-serif;
	font-size: 100%;
	color: #FFF;
	text-align: left;	
}

#navcontainer ul
{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a:link, a:visited
{
    width: 300px;
    font-weight: bold;
    color: #FFFF00;
    background-color: #B20000;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 19px;
    border-radius: 6px;
}

#navcontainer ul li a:hover, a:active
{
    background-color: #990000;
}


#gameboard td.X {
			color: yellow;
			background-image: url("yellowcoin.png");
      background-size: 50px;
      font-size: 1px;
}
#gameboard td.O {
			color: red;
			background-image: url("redcoin.png");
      background-size: 50px;
      font-size: 1px;
}
#gameboard table, th, td {
			border: 1px solid rgba(71, 24, 24, 0);
			padding: 0px;
}
#gameboard table {
			border-spacing: 2px;
      border-radius: 15px;
      background-color: rgb(119, 67, 245);
      box-shadow: -8px 8px 1px #000026;
}
#gameboard td {
			width: 50px;
			height: 50px;
			text-align: center;
			font-size: 100%;
      background-image: url("nocoin.png");
      background-repeat: no-repeat;
      background-size: 50px;
}
.cuerpo {
      margin-left: auto;
      margin-right: auto;
      width: 28%;
}
 html body h1 {
    font-family: monospace;
    font-size: 48px;
    margin-left: 175px;
}
 html body p,caption {
    font-family: Helvetica;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
}
.boton {
    color: #900;
    width: 50px;
    background: #FF0;
    font-weight: bold;
    border: 1px solid #900;
    border-radius: 49px;
    box-shadow: 1px 1px 0px #000;
}
.boton:hover {
    color: #FFF;
    background: #900;
    cursor: pointer;
}

.marco {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    height: auto;
    background: linear-gradient(to right, #1F35D8 0%, #8ECDE1 50%, #1F35D8 100%) repeat scroll 0% 0% transparent;
    border-color: #817F00;
    box-shadow: -6px 2px 3px #000026;
    margin-top: 9px;
    border-radius: 10px;
    padding-bottom: 75px;
}

.header {
  height: 15%;
  background: linear-gradient(#9779FB, #20206C) repeat scroll 0% 0% transparent;
  box-shadow: 0px 0px 4px 6px #000;
}

.logo{
  margin-top: 4px; 
  width: 400px;
  max-height: 91%;
}

.homeboton{
  font-weight: bold;
  width: 100%;
  margin-top: 28px;
  height: 55px;
  border-radius: 11px;
  font-size: 22px;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.84);
  border: 1px solid #FF0;
  background: none repeat scroll 0% 0% #DF0008;
  color: #FFE600;
  text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.84);
}

.homeboton:hover {
    color: #FFF;
    background: #900;
    cursor: pointer;
}

.muteButton {
  float: left;
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
}

.tg{
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-family: Arial;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
}

.name1,.nums1{
  color: yellow;
}

.name2,.nums2{
  color: red;
}

.deuces,.numsd{
  color: blue;
}

#footer{
    bottom: 0;
    height: 35px;
    position: absolute;
    width: 100%;
}

.footerlink{
  float: right;
  height: 15px;
  margin: 0px 5px 0px 0px; 
  text-decoration: none;
  margin-top: 15;
}


#rankt tr th {
  background-color: #000000;
  border-style: ridge;
  border-color: #D4FF71;
  border-width: 4px;
  padding-left: 5px;
  padding-right: 5px;
  background: linear-gradient(to bottom, 
    rgba(76,76,76,1) 0%, 
    rgba(89,89,89,1) 12%, 
    rgba(102,102,102,1) 25%, 
    rgba(71,71,71,1) 39%, 
    rgba(44,44,44,1) 50%, 
    rgba(0,0,0,1) 51%, 
    rgba(17,17,17,1) 60%, 
    rgba(43,43,43,1) 76%, 
    rgba(28,28,28,1) 91%, 
    rgba(19,19,19,1) 100%);
}

#rankt tr th p{
  color: #1EE709;
}

#rankt tr td {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 17px;
    font-variant: normal;
    text-align: center;
    text-transform: uppercase;
    border-color: #000000;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: dashed;
    font-weight: bold;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.88);
}


table {counter-reset:section;}

.count:before {
  counter-increment:section;
  content:counter(section);
}