html{
  height: 100%;
}

body {
  background: linear-gradient(#9779FB, #000057) repeat scroll 0% 0% transparent;
}

h1 {
	font-family: "Comic Sans MS",cursive,sans-serif;
	font-size: 300%;
	color: #718DA5;
	text-align: center;
}

h2 {
	font-family: "Comic Sans MS",cursive,sans-serif;
	font-size: 150%;
	color: #718DA5;
	text-align: left;
}
p {
	font-family: "Comic Sans MS",cursive,sans-serif;
	font-size: 100%;
	color: #718DA5;
	text-align: left;	
}

#navcontainer ul
{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a:link, a:visited
{
    width: 300px;
    font-weight: bold;
    color: #FFFF00;
    background-color: #B20000;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
}

#navcontainer ul li a:hover, a:active
{
    background-color: #990000;
}


#gameboard td#X {
			color: yellow;
			background-image: url("yellowcoin.png");
      background-size: 50px;
      font-size: 1px;
}
#gameboard td#O {
			color: red;
			background-image: url("redcoin.png");
      background-size: 50px;
      font-size: 1px;
}
#gameboard table, th, td {
			border: 1px solid rgba(71, 24, 24, 0);
			padding: 0px;
}
#gameboard table {
			border-spacing: 2px;
      border-radius: 15px;
      background-color: rgb(119, 67, 245);
      box-shadow: -8px 8px 1px rgba(0, 0, 0, 0.5);
}
#gameboard td {
			width: 50px;
			height: 50px;
			text-align: center;
			font-size: 100%;
      background-image: url("nocoin.png");
      background-repeat: no-repeat;
      background-size: 50px;
}
.cuerpo {
      margin-left: auto;
      margin-right: auto;
      width: 28%;
}
 html body h1 {
    font-family: monospace;
    font-size: 48px;
    margin-left: 175px;
}
 html body p,caption {
    font-family: Helvetica;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
}
.boton {
    color: #900;
    width: 50px;
    background: #FF0;
    font-weight: bold;
    border: 1px solid #900;
    border-radius: 49px;
}
.boton:hover {
    color: #FFF;
    background: #900;
    cursor: pointer;
}

