<!DOCTYPE html>
<html>
	<form method="post" action="/create_user">
	First name:<br>
	<input type="text" name="first_name">
	<br>
	Last name:<br>
	<input type="text" name="last_name">
	<br>
	e-mail:<br>
	<input type="text" name="email">
	<br>
	<input type="submit" value="Submit">
	</form>
</html>