<html>
  <head>
    <title>Connect4</title>
  </head>
<body>

  <h1>Users list</h1>

<table>
  {{#users}}
  <tr>
    <td>{{id}}</td>
    <td>{{first_name}}</td>
    <td>{{last_name}}</td>
    <td>{{email}}</td>
  </tr>
  {{/users}}
</table>

<p>End list</p>

</body>
</html>

